---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: ako
  namespace: avi-system
  labels:
    app.kubernetes.io/name: wc-ako
    app.kubernetes.io/version: 1.3.1
spec:
  replicas: 1
  serviceName: ako
  selector:
    matchLabels:
      app.kubernetes.io/name: wc-ako
  template:
    metadata:
      labels:
        app.kubernetes.io/name: wc-ako
    spec:
      serviceAccountName: ako-sa
      securityContext: {}
      containers:
        - name: ako
          securityContext: {}
          image: projects-stg.registry.vmware.com/tkg/ako:v1.4.3_vmware.1
          imagePullPolicy: IfNotPresent
          lifecycle:
            preStop:
              exec:
                command: ["/bin/sh","/var/pre_stop_hook.sh"]
          env:
            - name: FULL_SYNC_INTERVAL
              valueFrom:
                configMapKeyRef:
                  name: avi-k8s-config
                  key: fullSyncFrequency
            - name: AKO_API_PORT
              valueFrom:
                configMapKeyRef:
                  name: avi-k8s-config
                  key: apiServerPort
            - name: CTRL_IPADDRESS
              valueFrom:
                configMapKeyRef:
                  name: avi-k8s-config
                  key: controllerIP
            - name: CLOUD_NAME
              valueFrom:
                configMapKeyRef:
                  name: avi-k8s-config
                  key: cloudName
            - name: CLUSTER_NAME
              valueFrom:
                configMapKeyRef:
                  name: avi-k8s-config
                  key: clusterName
            - name: DISABLE_STATIC_ROUTE_SYNC
              valueFrom:
                configMapKeyRef:
                  name: avi-k8s-config
                  key: disableStaticRouteSync
            - name: VIP_NETWORK_LIST
              valueFrom:
                configMapKeyRef:
                  name: avi-k8s-config
                  key: vipNetworkList
            - name: DEFAULT_ING_CONTROLLER
              valueFrom:
                configMapKeyRef:
                  name: avi-k8s-config
                  key: defaultIngController
            - name: SEG_NAME
              valueFrom:
                configMapKeyRef:
                  name: avi-k8s-config
                  key: serviceEngineGroupName
            - name: SERVICE_TYPE
              valueFrom:
                configMapKeyRef:
                  name: avi-k8s-config
                  key: serviceType
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          resources:
            limits:
              cpu: 250m
              memory: 300Mi
            requests:
              cpu: 100m
              memory: 200Mi
          livenessProbe:
            httpGet:
              path: /api/status
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
