[build]
publish = "public"
command = "make production-build"

[context.production.environment]
HUGO_VERSION = "0.97.0"
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"

[context.split1]
command = "hugo --gc --minify --enableGitInfo"

[context.split1.environment]
HUGO_VERSION = "0.97.0"
HUGO_ENV = "production"

[context.deploy-preview]
command = "make preview-build"

[context.deploy-preview.environment]
HUGO_VERSION = "0.97.0"

[context.branch-deploy]
command = "hugo --gc --minify -b $DEPLOY_PRIME_URL"

[context.branch-deploy.environment]
HUGO_VERSION = "0.97.0"

[context.next.environment]
HUGO_ENABLEGITINFO = "true"

[[redirects]]
  from = "/plugins"
  to = "/"
  status = 301

[[redirects]]
  from = "/community"
  to = "https://github.com/vmware/"
  status = 301

[[redirects]]
  from = "/blog"
  to = "https://blogs.vmware.com/opensource/"
  status = 301

[[redirects]]
  from = "/posts"
  to = "https://blogs.vmware.com/opensource/"
  status = 301

[[redirects]]
  from = "/posts/*"
  to = "https://blogs.vmware.com/opensource/"
  status = 301

[[redirects]]
  from = "/resources"
  to = "/"
  status = 301

[[redirects]]
  from = "/packages"
  to = "/"
  status = 301

[[redirects]]
  from = "/docs"
  to = "/"
  status = 301

[[redirects]]
  from = "/docs/*"
  to = "/"
  status = 301

[[redirects]]
  from = "/download"
  to = "/"
  status = 301





























