<div class="grid-container">
	<div class="wrapper">
		<div class="grid three">
			<div class="card">
				<img src="/img/simple.svg" />
				<h3>Efficient Cluster Management</h3>
				<p>Get up and running in minutes, then let your cluster manage itself.  Declarative automation makes your platform as resilient as the workloads it runs.</p>
			</div>
			<div class="card">
				<img src="/img/frictionless.svg" />
				<h3>Kubernetes and More</h3>
				<p>Whether you want a bare bones solution or all the bells and whistles, optional package installations make it easy to get a platform that’s perfectly suited to your needs.</p>
			</div>
			<div class="card">
				<img src="/img/seamless.svg" />
				<h3>The Heart of VMware Tanzu</h3>
				<p>A platform built for the modern enterprise and all of its demanding complexity.</p>
			</div>
		</div>
	</div>
</div>