apiVersion: v1
kind: Secret
metadata:
  name: cloud-provider-vsphere-credentials
  namespace: kube-system
stringData:
  ${VSPHERE_SERVER}.password: ${VSPHERE_PASSWORD}
  ${VSPHERE_SERVER}.username: ${VSPHERE_USERNAME}
type: Opaque
