# NOTE: do not add IDE, editor, or OS-specific patterns here.
# Individuals should add these to their global gitignore.
#
# Example:
# git config --global core.excludesfile ~/.gitignore
#
# cat ~/.gitignore
#   .idea
#   .vscode
#   *~

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
_output
/addons/repos/generated/
/build
hack/NEW_BUILD_VERSION
cayman_trigger.txt
artifacts
artifacts-admin
bin
addons/repos/generated

# Architecture specific extensions/prefixes
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

debug

/velero
Tiltfile

.container-*
.go
.push-*
*.diff

cover.out

# Hugo compiled data
docs/site/public
docs/site/resources

.vs

# package configuration values files
*-values.yaml
.envrc

# tar balls
*.tar.gz

# UI plugin files
cli/cmd/ui/bind*
