---
apiVersion: networking.tkg.tanzu.vmware.com/v1alpha1
kind: AKODeploymentConfig
metadata:
    name: install-ako-for-all
spec:
    cloudName: Default-Cloud
    serviceEngineGroup: Default-Group
    controller: 10.0.0.1
    adminCredentialRef:
        name: controller-credentials
        namespace: default
    certificateAuthorityRef:
        name: controller-ca
        namespace: default
    dataNetwork:
        name: VM Network
        cidr: 10.0.0.0/20
    extraConfigs:
        disableStaticRouteSync: false
        image:
            repository: projects.registry.vmware.com/tkg/ako
            pullPolicy: IfNotPresent
            version: v1.3.2_vmware.1
        ingress:
            disableIngressClass: true
            defaultIngressController: false
---
apiVersion: networking.tkg.tanzu.vmware.com/v1alpha1
kind: AKODeploymentConfig
metadata:
    name: install-ako-for-management-cluster
spec:
    clusterSelector:
        matchLabels:
            cluster-role.tkg.tanzu.vmware.com/management: ""
    cloudName: Default-Cloud
    serviceEngineGroup: Default-Group
    controller: 10.0.0.1
    adminCredentialRef:
        name: controller-credentials
        namespace: default
    certificateAuthorityRef:
        name: controller-ca
        namespace: default
    dataNetwork:
        name: VM Network
        cidr: 10.0.0.0/20
    extraConfigs:
        disableStaticRouteSync: false
        image:
            repository: projects.registry.vmware.com/tkg/ako
            pullPolicy: IfNotPresent
            version: v1.3.2_vmware.1
        ingress:
            disableIngressClass: true
            defaultIngressController: false
---
apiVersion: v1
kind: Secret
metadata:
    name: avi-controller-credentials
    namespace: tkg-system-networking
type: Opaque
data:
    username: 
    password: 
---
apiVersion: v1
kind: Secret
metadata:
    name: avi-controller-ca
    namespace: tkg-system-networking
type: Opaque
data:
    certificateAuthorityData: ""
