---
apiVersion: policy/v1beta1
kind: PodSecurityPolicy
metadata:
  name: prometheus-node-exporter
  namespace: default
  labels:     
    component: node-exporter
    app: prometheus
spec:
  privileged: false
  volumes:
    - 'configMap'
    - 'emptyDir'
    - 'projected'
    - 'secret'
    - 'downwardAPI'
    - 'persistentVolumeClaim'
    - 'hostPath'
  hostNetwork: true
  hostIPC: false
  hostPID: true
  hostPorts:
    - min: 0
      max: 65535
  runAsUser:
    rule: 'RunAsAny'
  seLinux:
    rule: 'RunAsAny'
  supplementalGroups:
    rule: 'MustRunAs'
    ranges:
      #! Forbid adding the root group.
      - min: 0
        max: 65535
  fsGroup:
    rule: 'MustRunAs'
    ranges:
      #! Forbid adding the root group.
      - min: 0
        max: 65535
  readOnlyRootFilesystem: false
