#@data/values
---

#! The namespace in which to deploy grafana.
namespace: grafana-addon

grafana:
  deployment:
    replicas: 1
    image:
      name: "grafana/grafana:7.5.5"
      pullPolicy: "IfNotPresent"
  #! The grafana configuration.
  config:
    grafana_ini: |
      [analytics]
      check_for_updates = false
      [grafana_net]
      url = https://grafana.com
      [log]
      mode = console
      [paths]
      data = /var/lib/grafana/data
      logs = /var/log/grafana
      plugins = /var/lib/grafana/plugins
      provisioning = /etc/grafana/provisioning
    datasource_yaml: |-
      apiVersion: 1
      datasources:
        - name: Prometheus
          type: prometheus
          url: prometheus-server.prometheus-addon.svc.cluster.local
          access: proxy
          isDefault: true
    dashboard_provider_yaml: |-
      apiVersion: 1
      providers:
        #! <string> an unique provider name. Required
        - name: 'defaultDashboardProvider'
          #! <int> Org id. Default to 1
          orgId: 1
          #! <string> name of the dashboard folder.
          folder: ''
          #! <string> folder UID. will be automatically generated if not specified
          folderUid: ''
          #! <string> provider type. Default to 'file'
          type: file
          #! <bool> disable dashboard deletion
          disableDeletion: false
          #! <int> how often Grafana will scan for changed dashboards
          updateIntervalSeconds: 10
          #! <bool> allow updating provisioned dashboards from the UI
          allowUiUpdates: false
          options:
            #! <string, required> path to dashboard files on disk. Required when using the 'file' type
            path: /etc/grafana/provisioning/dashboards/
            #! <bool> use folder names from filesystem to create folders in Grafana
            foldersFromFilesStructure: true
  pvc:
    annotations: {}
    storage_class: null
    accessMode: ReadWriteOnce
    storage: "2Gi"
  secret:
    type: "Opaque"
    admin_user: "YWRtaW4="
    admin_password: "cGFzc3dvcmQ="
    ldap_toml: ""
  ingress:
    enabled: true
    virtual_host_fqdn: "grafana.system.tanzu"
    prefix: "/"