#@ load("@ytt:overlay", "overlay")
#@ load("@ytt:data", "data")

#@overlay/match by=overlay.subset({"kind": "Service", "metadata": {"name": "envoy"}})
---
metadata:
  #@overlay/replace
  annotations: #@ data.values.envoy.service.annotations
spec:
  type: #@ data.values.envoy.service.type

  #@ if data.values.envoy.service.type == "NodePort":
  ports:
  #@overlay/match by=overlay.subset({"name":"http"})
  -
    #@ if data.values.envoy.service.nodePorts.http:
    #@overlay/match missing_ok=True
    nodePort: #@ data.values.envoy.service.nodePorts.http
    #@ end
  #@overlay/match by=overlay.subset({"name":"https"})
  -
    #@ if data.values.envoy.service.nodePorts.https:
    #@overlay/match missing_ok=True
    nodePort: #@ data.values.envoy.service.nodePorts.https
    #@ end
  #@ end

  #@ if data.values.envoy.service.loadBalancerIP and data.values.envoy.service.type == "LoadBalancer":
  loadBalancerIP: #@ data.values.envoy.service.loadBalancerIP
  #@ end

  #@ if data.values.envoy.service.type == "NodePort" or data.values.envoy.service.type == "LoadBalancer":
  #@ if/end data.values.envoy.service.externalTrafficPolicy:
  externalTrafficPolicy: #@ data.values.envoy.service.externalTrafficPolicy
  #@ else:
  #@overlay/remove
  externalTrafficPolicy: Local
  #@ end
