#@data/values
#@overlay/match-child-defaults missing_ok=True
---

namespace: kube-system

image:
  repository: docker.io/nfvpe
  name: multus
  tag: stable

#! DaemonSet related configuration
#@overlay/replace
daemonset:
  #! (OPTIONAL) Args passed via command-line to multus-cni
  #! Below items are examples same as upstream settings
  #! For more guide, please refer to
  #! https://github.com/k8snetworkplumbingwg/multus-cni/tree/master/docs
  args:
    - "--multus-conf-file=auto"
    - "--cni-version=0.3.1"
