---
apiVersion: v1
kind: Secret
metadata:
  name: grafana
  namespace: default
  labels:
    app.kubernetes.io/name: grafana
type: Opaque
data:
  admin-user: YWRtaW4=
  admin-password: ""
  ldap-toml: ""
