.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}

.fade {
	transition: opacity .15s linear;
}

blockquote {
  margin-left: 0px;
  margin-right: 0px;

  p {
    color: #9e9e9e;
  }

}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 1 1;

  //@include hover-focus() {
    //text-decoration: none;
  //}

  // Disabled state lightens text
  &.disabled {
    color: #ccc;
    pointer-events: none;
    cursor: default;
  }
}

//
// Tabs
//

.nav-tabs {
  border-bottom: 1px solid #ccc;

  .nav-item {
    margin-bottom: 0px;
    margin-right: 1rem;
    padding: .5rem;
  }

  .nav-link {
    border: 1px solid transparent;
    border-top-right-radius: .25em;
    border-top-left-radius: .25em;

    //@include hover-focus() {
      //border-color: $nav-tabs-link-hover-border-color;
    //}

    &.disabled {
      color: #ccc;
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    background-color: #fff;
    border-color: #ccc;
    border-bottom: 0px;
    padding: .5rem;
    color: #78BE20;
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: 1rem;
    // Remove the top rounded corners here since there is a hard edge above the menu
    //@include border-top-radius(0);
  }
}

body {
    font-family: $font-family-base;
    margin: 0px;
    line-height: 1.25;
}
.wrapper {
    max-width: 980px;
    margin: 0px auto;
    padding: 20px;
    @include breakpoint(small) {
        max-width: 100%;
    }
    &.docs {
        @include breakpoint(extra-large) {
            max-width: 80%;
        }
    }
}
.clearfix {
	*zoom: 1;
	&:before, &:after {
		display: table;
		content: "";
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}
li {
    list-style-type: none;
    display: inline;
    padding-right: 25px;
    font-size: 14px;
    line-height: 1.7em;
    &:last-of-type {
        padding-right: 0px;
    }
}
button {
    background-color: unset;
    border: none;
}
.strong {
    font-family: $metropolis-medium;
}

.grid.three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    @include breakpoint(small) {
        grid-template-columns: 1fr;
    }
}

.grid.two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include breakpoint(small) {
        grid-template-columns: 1fr;
    }
}

.rounded-circle {
    border-radius: 50% !important;
}

.external {
    &::after {
        content: '';
        background-image: url(/img/clarity/essential/pop-out-line-blue.svg);
        background-size: cover;
        display: inline-block;
        height: 12px;
        margin-left: 2px;
        width: 12px;
    }
}

noscript {
  background-color: rgba(red, .25);
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  margin: 0 20px 20px 0;
}

img.float-right {
  display: block;
  margin-bottom: 20px;
  @include breakpoint(small-up) {
    float: right;
    margin: 0 0 20px 40px;
  }
}

.bg-grid {
  &.bg-top {
    background: url(/img/bg-grid-fade.svg) top right no-repeat;
  }
  &.bg-bottom {
    background: url(/img/bg-grid-fade-bottom.svg) bottom left no-repeat;
  }
}

// Tables
table {
  border: 1px solid $table-border;
  border-collapse: collapse;
  margin-bottom: 20px;
  width: 100%;

  thead th {
    background-color: $table-head-bg;
    border: 1px solid $table-border;
    border-right: 1px solid $table-head-bg;
    font-family: $metropolis-semibold;
    font-size: 16px;
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    
    &:last-child {
      border-right: 1px solid $table-border;
    }
  }

  tbody {
    td {
      background-color: $white;
      border: 1px solid $table-border;
      border-right: 1px solid $white;
      font-family: $metropolis-regular;
      font-size: 14px;
      padding: 15px;
      vertical-align: top;
      
      &:last-child {
        border-right: 1px solid $table-border;
      }

      a {
        font-size: 14px;
      }
    }
  }
}