.docs {
    background-color: #fff;
    margin-top: -90px;
    padding: 30px 30px 50px 30px;
    display: flex;

    @include breakpoint(small) {
        display: block;
    }

    .side-nav {
        width: 25%;
        float: left;
        position: relative;

        @include breakpoint(small) {
            float: none;
            margin-bottom: 50px;
            width: 100%;
        }

        button.h4, h5 {
            display: block;
            font-family: $metropolis-medium;
            margin: 24px 0;
            &::after {
                content: '';
                background-image: url(/img/down-arrow.svg);
                background-repeat: no-repeat;
                display: inline-block;
                height: 6px;
                margin-left: 10px;
                transform: translateY(-2px);
                width: 11px;
            }
            &[aria-expanded="true"] {
                &::after {
                    transform: rotate(180deg) translateY(3px);
                }
            }
        }
        .collapse {
            display: none;
            &.show {
                display: block;
            }
        }
        ul {
            padding-left: 15px;
            margin-bottom: 35px;
            ul {
                margin-bottom: 0;
                margin-top: 15px;
                padding-left: 20px;
                > li {
                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        font-size: 13px;
                    }
                }
            }
            li {
                display: list-item;
                line-height: 20px;
                margin-bottom: 15px;
                a {
                    color: $darkgrey;
                    font-size: 14px;
                    &.active {
                        color: $blue;
                    }
                }
                &.heading {
                    color: $black;
                    font-size: 14px;
                }
            }
        }
        .dropdown {
            font-size: 14px;
            font-family: $metropolis-medium;
            margin-bottom: 10px;
            button {
                background-image: url(/img/down-arrow.svg);
                background-repeat: no-repeat;
                background-position: 90% center;
                border-radius: 5px;
                display: inline;
                padding: 10px 30px 10px 10px;
                border: 1px solid $blue;
                color: $black;
                cursor: pointer;
                font-size: 14px;
                font-family: $metropolis-medium;
                margin-bottom: 10px;
                &:focus {
                    background-color: $lightgrey;
                }
            }
        }
        .dropdown-menu {
            position: absolute;
            border: 1px solid $grey;
            border-radius: 5px;
            top: 35px;
            left: 0px;
            background-color: $white;
            padding: 10px 0;
            min-width: 100px;
            display: none;
            a {
                display: block;
                padding: 7px 20px;
                &:hover {
                    background-color: $lightgrey;
                }
            }
            &.dropdown-menu-visible {
                display: block;
                z-index: 1;
            }
        }
        .form-control {
            display: block;
            width: 100%;
            height: 40px;
            padding: .375rem .75rem;
            font-size: 1.125rem;
            line-height: 1.5;
            color: $darkgrey;
            background-color: #fff;
            border: 1px solid #cecece;
            background-image: url(/img/search-icon.svg);
            background-repeat: no-repeat;
            background-position: 95% center;
            border-radius: 5px;
            &:focus {
                outline: none;
            }
            &::-webkit-search-cancel-button {
                -webkit-appearance: none;
            }
        }
        .ds-dataset-1 {
            padding: 15px 15px 0;

            a {
                color: $darkgrey;
                display: inline-block;
                font-family: $metropolis-light;
                margin-bottom: 10px;

                div {
                    display: inline;
                }
            }

            .algolia-docsearch-suggestion--subcategory-inline {
                &::after {
                    content: ' /';
                }
            }

            .algolia-docsearch-suggestion--highlight {
                background-color: rgba($blue, .1);
                color: $navyblue;
            }

            .algolia-docsearch-suggestion--title {
                font-family: $metropolis-medium;
            }

            .algolia-docsearch-suggestion--category-header,
            .algolia-docsearch-suggestion--subcategory-column {
                display: none;
            }

            .algolia-docsearch-footer {
                font-size: 14px;
                text-align: right;

                a {
                    font-size: 14px;
                }
            }
        }
        .ds-dropdown-menu {
            background-color: #fff;
            border: 1px solid #cecece;
            border-radius: 5px;
            width: 130%;
        }
        @include breakpoint(extra-large) {
            width: 22%;
        }
        @include breakpoint(large) {
            width: 22%;
        }
    }
    .docs-content {
        width: 75%;
        float: right;
        
        @include breakpoint(small) {
            float: none;
            width: 100%;
        }
        
        &.full {
            width: 100%;
        }
        a {
            font-size: 16px;

            &[target="_blank"] {
                @extend .external;
            }
        }
        ul {
            list-style-type: disc;
            padding-left: 20px;
            li {
                list-style-type: unset;
                display: list-item;
                margin-bottom: 10px;
                font-size: 16px;
                color: $darkgrey;
                line-height: 1.6em;
                list-style-image: url(/img/arrow.svg);
                &:first-child {
                    margin-top: 10px;
                }
            }
        }
        ol {
            li {
                list-style-type: decimal;
                display: list-item;
                margin-bottom: 10px;
                font-size: 16px;
                color: $darkgrey;
                &:first-child {
                    margin-top: 10px;
                }
            }
        }
        .copy-code-button {
            color: $grey;
            background-color: $lightgrey;

            // align on right side
            display: block;
            margin-left: auto;
            margin-right: 0;

            padding: 3px 8px;
            font-size: 0.8em;
        }
        .copy-code-button:hover {
            cursor: pointer;
        }
        .copy-code-button:focus {
            /* Avoid an ugly focus outline on click in Chrome,
               but darken the button for accessibility.
               See https://stackoverflow.com/a/25298082/1481479 */
            outline: 0;
        }
        .copy-code-button-copied {
            color: white;
            background-color: $mainblue;
        }
        .copy-code-button-error {
            color: white;
            background-color: red;
        }
        .highlight pre {
            /* Avoid pushing up the copy buttons. */
            margin: 0;
        }
        code {
            border: 2px solid #EFEFEF;
            color: $darkgrey;
            padding: 2px 8px;
        }
        pre {
            code {
                color: $white;
                display: block;
                border: 4px solid #EFEFEF;
                padding: 15px;
                margin-bottom: 30px;
                overflow-x: auto;
                font-size: 14px;
            }
        }
        img {
            max-width: 100%;
        }
        @include breakpoint(large) {
            width: 58%;
            padding-right: 20px;
        }
        @include breakpoint(extra-large) {
            width: 75%;
            padding-right: 20px;
        }
        table {
            border: 1px solid $table-border;
            border-collapse: collapse;
            margin-bottom: 20px;
            width: 100%;

            thead th {
                background-color: $table-head-bg;
                border: 1px solid $table-border;
                border-bottom-width: 2px;
                padding: 10px;
                vertical-align: bottom;
            }

            tbody {
                td {
                    background-color: $lightgrey;
                    border: 1px solid $table-border;
                    padding: 10px;
                    vertical-align: top;
                }
                tr:nth-child(2n) {
                    td {
                        background-color: $white;
                    }
                }
            }
        }
    }
    .right-nav {
        display: none;
        width: 20%;
        float: right;
        margin: -30px -30px 0px 0px;
        .right-nav-content {
            background-color: #EFEFEF;
            padding: 30px 30px 30px 20px;
            margin-right: -20px;
            min-height: 30px;
            position: sticky;
            top: 0;
        }
        .buttons {
            font-size: 0;
            margin-top: 0px;
            li {
                margin-bottom: 0px;
                padding: 8px 0px;
                display: inline;
                &:first-of-type {
                    border-right: 1px solid #ddd;
                    margin-right: 8px;
                    padding-right: 7px;
                }
                a {
                    text-transform: uppercase;
                    font-size: 14px;
                    img {
                        vertical-align: middle;
                        width: 22px;
                    }
                }
            }
        }
        h4 {
            font-size: 16px;
        }
        ul {
            padding-left: 0px;
            margin-bottom: 0px;
            li {
                display: block;
                padding-right: 0px;
                margin-bottom: 7px;
                a {
                    font-family: $metropolis-light;
                    font-size: 14px;
                }
                ul {
                    margin-top: 7px;
                    padding-inline-start: 14px;
                }
            }
        }
        .sticky {
            position: fixed;
            top: 0;
        }
        @include breakpoint(medium-up) {
            display: block;
        }
    }
}