.resources {
    h2 {
        margin-top: 50px;
        &:first-child {
            margin-top: 0;
        }
    }
    ul.two-col {
        margin: -20px 0 20px 0;
        padding: 0;
        li {
            display: inline-block;
            margin-top: 20px;
            padding-right: 20px;
            width: 90%;
            @include breakpoint(small-up) {
                width: 40%
            }
        }
    }
}

.resource-list {
    li {
        display: block;
    }
    .pill {
        display: inline-block;
        &::after {
            text-transform: uppercase;
        }
        &.level-basics {
            &::after {
                content: 'basics';
            }
        }
        &.level-getting-started {
            &::after {
                content: 'getting started';
            }
        }
        &.level-intermediate {
            &::after {
                content: 'intermediate';
            }
        }
        &.level-advanced-topics {
            &::after {
                content: 'advanced topics';
            }
        }
    }
}