.resources {
    h2 {
        font-size: 26px;
        margin-top: 50px;
        &:first-child {
            margin-top: 0;
        }
    }
    ul.two-col {
        margin: -20px 0 20px 0;
        padding: 0;
        li {
            display: inline-block;
            margin-top: 20px;
            padding-right: 20px;
            width: 90%;
            @include breakpoint(small-up) {
                width: 40%
            }
        }
    }
    &.bg-lighter-blue .wrapper {
        padding: 50px 20px;
    }
}

.accordion-wrapper {
    padding: 0;
    margin-top: 32px;
    .accordion {
        .panel {
            @include breakpoint(small-up) {
                padding-left: 20px;
            }
            p {
                color: $grey;
            }
            h3 {
                font-family: $metropolis-medium;
                font-size: 16px;
                line-height: 1.5;
                font-weight: 500;
                margin-top: 8px;
                margin-bottom: 0;
            }
            .subpanel {
                h3 {
                    margin-bottom: 8px;
                }
            }
        }
    }
}

.resource-list {
    padding-left: 0;
    margin: 0 0 12px;
    li {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 16px 0;
        &:not(:first-of-type) {
            border-top: 1px solid $lightblue;
        }
        div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        & > div {
            flex-direction: column;
            align-items: flex-start;
            @include breakpoint(x-small-up) {
                flex-direction: row;
            }
        }
        .icon-container {
            padding-bottom: 4px;
            @include breakpoint(x-small-up) {
                margin-top: -4px;
            }
        }
        a {
            font-family: $font-family-base;
        }
        img {
            padding-right: 4px;
        }
    }
    .new {
        position: relative;
        color: $white;
        font-family: $metropolis-medium;
        background-color: $mainblue;
        padding: 0 12px;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 20px;
        letter-spacing: 0.83px;
        margin-right: 9px;
        &::before,
        &::after {
            position: absolute;
            content: "";
            top: 0;
            height: 0;
            width: 0;
            border-style: solid;
        }
        &:before {
            left: 0;
            border-width: 10px 0 10px 6px;
            border-color: transparent transparent transparent $white;
        }
        &:after {
            right: 0;
            border-width: 10px 6px 10px 0;
            border-color: transparent $white transparent transparent;
        }
    }   
    .pill {
        position: absolute;
        top: 19px;
        right: 0;
        margin-left: 24px;
        display: inline-block;
        color: $black;
        white-space: nowrap;
        line-height: 19px;
        @include breakpoint(x-small-up) {
            position: relative;
            top: auto;
            right: auto;
        }
        &::after {
            padding: 0 12px;
            font-size: 10px;
            text-transform: uppercase;
            letter-spacing: 0.83px;
        }
        &.level-basics {
            background-color: rgba($green, 0.2);
            &::after {
                content: 'basics';
            }
        }
        &.level-getting-started {
            background-color: rgba($purple, 0.2);
            &::after {
                content: 'getting started';
            }
        }
        &.level-intermediate {
            background-color: rgba($turquoise, 0.2);
            &::after {
                content: 'intermediate';
            }
        }
        &.level-advanced-topics {
            background-color: rgba($grey, 0.2);
            &::after {
                content: 'advanced topics';
            }
        }
    }
}

button.see-more {
    color: $aqua;
    font-family: $metropolis-semibold;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 32px;
    padding: 0;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}