.resources {
    h2 {
        margin-top: 50px;
        &:first-child {
            margin-top: 0;
        }
    }
    ul.two-col {
        margin: -20px 0 20px 0;
        padding: 0;
        li {
            display: inline-block;
            margin-top: 20px;
            padding-right: 20px;
            width: 90%;
            @include breakpoint(small-up) {
                width: 40%
            }
        }
    }
}

.resource-list {
    li {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 16px 0;
        &:not(:last-of-type) {
            border-bottom: 1px solid $lightblue;
        }
        div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        a {
            font-family: $font-family-base;
        }
        img {
            padding-right: 4px;
        }
    }
    .pill {
        margin-left: 24px;
        display: inline-block;
        color: $black;
        white-space: nowrap;
        line-height: 19px;
        &::after {
            padding: 0 12px;
            font-size: 10px;
            text-transform: uppercase;
            letter-spacing: 0.83px;
        }
        &.level-basics {
            background-color: rgba($green, 0.2);
            &::after {
                content: 'basics';
            }
        }
        &.level-getting-started {
            background-color: rgba($purple, 0.2);
            &::after {
                content: 'getting started';
            }
        }
        &.level-intermediate {
            background-color: rgba($turquoise, 0.2);
            &::after {
                content: 'intermediate';
            }
        }
        &.level-advanced-topics {
            background-color: rgba($grey, 0.2);
            &::after {
                content: 'advanced topics';
            }
        }
    }
}