#! interworking-overlay.yaml

#@ load("@ytt:overlay", "overlay")
#@ load("@ytt:yaml", "yaml")
#@ load("/values.star", "values")

#@ def antrea_interworking_mp_adapter_conf():
NSXClientTimeout: #@ values.antrea_interworking.config.mp_adapter_conf.NSXClientTimeout
InventoryBatchSize: #@ values.antrea_interworking.config.mp_adapter_conf.InventoryBatchSize
InventoryBatchPeriod: #@ values.antrea_interworking.config.mp_adapter_conf.InventoryBatchPeriod
EnableDebugServer: #@ values.antrea_interworking.config.mp_adapter_conf.EnableDebugServer
APIServerPort: #@ values.antrea_interworking.config.mp_adapter_conf.APIServerPort
DebugServerPort: #@ values.antrea_interworking.config.mp_adapter_conf.DebugServerPort
NSXRPCDebug: #@ values.antrea_interworking.config.mp_adapter_conf.NSXRPCDebug
ConditionTimeout: #@ values.antrea_interworking.config.mp_adapter_conf.ConditionTimeout
NSXCAFile: #@ values.antrea_interworking.config.mp_adapter_conf.NSXCAFile
NSXClientAuthCertFile: #@ values.antrea_interworking.config.mp_adapter_conf.NSXClientAuthCertFile
NSXClientAuthKeyFile: #@ values.antrea_interworking.config.mp_adapter_conf.NSXClientAuthKeyFile
NSXRemoteAuth: #@ values.antrea_interworking.config.mp_adapter_conf.NSXRemoteAuth
NSXInsecure: #@ values.antrea_interworking.config.mp_adapter_conf.NSXInsecure
NSXRPCConnType: #@ values.antrea_interworking.config.mp_adapter_conf.NSXRPCConnType
clusterType: #@ values.antrea_interworking.config.mp_adapter_conf.clusterType
#@ end


#@ def antrea_interworking_ccp_adapter_conf():
EnableDebugServer: #@ values.antrea_interworking.config.ccp_adapter_conf.EnableDebugServer
APIServerPort: #@ values.antrea_interworking.config.ccp_adapter_conf.APIServerPort
DebugServerPort: #@ values.antrea_interworking.config.ccp_adapter_conf.DebugServerPort
NSXRPCDebug: #@ values.antrea_interworking.config.ccp_adapter_conf.NSXRPCDebug
RealizeTimeoutSeconds: #@ values.antrea_interworking.config.ccp_adapter_conf.RealizeTimeoutSeconds
RealizeErrorSyncIntervalSeconds: #@ values.antrea_interworking.config.ccp_adapter_conf.RealizeErrorSyncIntervalSeconds
ReconcilerWorkerCount: #@ values.antrea_interworking.config.ccp_adapter_conf.ReconcilerWorkerCount
ReconcilerQPS: #@ values.antrea_interworking.config.ccp_adapter_conf.ReconcilerQPS
ReconcilerBurst: #@ values.antrea_interworking.config.ccp_adapter_conf.ReconcilerBurst
ReconcilerResyncSeconds: #@ values.antrea_interworking.config.ccp_adapter_conf.ReconcilerResyncSeconds
#@ end


#! Antrea-interworking-config
#@overlay/match by=overlay.subset({"kind":"ConfigMap","metadata":{"name": "antrea-interworking-config"}})
#@ if/end values.antrea_nsx.enable:
---
kind: ConfigMap
data:
  mp-adapter.conf: #@ yaml.encode(antrea_interworking_mp_adapter_conf())
  ccp-adapter.conf: #@ yaml.encode(antrea_interworking_ccp_adapter_conf())


#! Antrea-interworking-config
#@overlay/match by=overlay.subset({"metadata":{"namespace": "vmware-system-antrea"}}), expects=10
#@ if/end values.antrea_nsx.enable == False:
---

#! Antrea-interworking-config
#@overlay/match by=overlay.subset({"kind":"ClusterRoleBinding","metadata":{"name": "antrea-interworking-supportbundle"}})
#@ if/end values.antrea_nsx.enable == False:
---

#! Antrea-interworking-config
#@overlay/match by=overlay.subset({"kind":"ClusterRoleBinding","metadata":{"name": "antrea-interworking"}})
#@ if/end values.antrea_nsx.enable == False:
---

#! Antrea-interworking-config
#@overlay/match by=overlay.subset({"kind":"ClusterRoleBinding","metadata":{"name": "register"}})
#@ if/end values.antrea_nsx.enable == False:
---

#! Antrea-interworking-config
#@overlay/match by=overlay.subset({"kind":"RoleBinding","metadata":{"name": "vmware-system-antrea-register"}})
#@ if/end values.antrea_nsx.enable == False:
---

#! Antrea-interworking-config
#@overlay/match by=overlay.subset({"kind":"Role","metadata":{"name": "vmware-system-antrea-register"}})
#@ if/end values.antrea_nsx.enable == False:
---

#! Antrea-interworking-config
#@overlay/match by=overlay.subset({"kind":"ClusterRole","metadata":{"name": "antrea-interworking"}})
#@ if/end values.antrea_nsx.enable == False:
---

#! Antrea-interworking-config
#@overlay/match by=overlay.subset({"kind":"ClusterRole","metadata":{"name": "antrea-interworking-supportbundle"}})
#@ if/end values.antrea_nsx.enable == False:
---

#! Antrea-interworking-config
#@overlay/match by=overlay.subset({"kind":"Namespace","metadata":{"name": "vmware-system-antrea"}})
#@ if/end values.antrea_nsx.enable == False:
---

#! Antrea-interworking-config
#@overlay/match by=overlay.subset({"kind":"CustomResourceDefinition","metadata":{"name": "antreampadapterinfos.clusterinformation.antrea-interworking.tanzu.vmware.com"}})
#@ if/end values.antrea_nsx.enable == False:
---

#! Antrea-interworking-config
#@overlay/match by=overlay.subset({"kind":"CustomResourceDefinition","metadata":{"name": "antreaccpadapterinfos.clusterinformation.antrea-interworking.tanzu.vmware.com"}})
#@ if/end values.antrea_nsx.enable == False:
---
