name: Build - Create Dev/Staging

on:
  push:
    branches:
      - main
    paths:
      - "**.go"
      - "cli/cmd/plugin/**/go.mod"
      - "**.sh"
      - ".github/workflows/build-staging.yaml"
    tags-ignore:
      - "**"
jobs:
  setup-runner:
    name: Start self-hosted EC2 runner
    # Only run this job if we're in the main repo, not a fork.
    if: github.repository == 'vmware-tanzu/community-edition'
    runs-on: ubuntu-latest
    outputs:
      ec2-instance-id: ${{ steps.start-ec2-runner.outputs.ec2-instance-id }}
    steps:
      - name: Start EC2 runner
        id: start-ec2-runner
        shell: bash
        run: |
          echo "GITHUB_RUN_ID: ${GITHUB_RUN_ID}"
          echo "GITHUB_RUN_NUMBER: ${GITHUB_RUN_NUMBER}"
          echo "GITHUB_RUN_ATTEMPT: ${GITHUB_RUN_ATTEMPT}"
          INSTANCE_NAME="id-${GITHUB_RUN_ID}-${GITHUB_RUN_NUMBER}-${GITHUB_RUN_ATTEMPT}"
          echo "INSTANCE_NAME: ${INSTANCE_NAME}"
          echo ::set-output name=ec2-instance-id::${INSTANCE_NAME}
  build-release:
    name: Build Release for Staging
    # Only run this job if we're in the main repo, not a fork.
    if: github.repository == 'vmware-tanzu/community-edition'
    needs: setup-runner # required to start the main job when the runner is ready
    runs-on: ${{ needs.setup-runner.outputs.ec2-instance-id }} # run the job on the newly created runner
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version: "1.17"
        id: go
      - name: Check out code
        uses: actions/checkout@v1
      - name: Get Date
        id: get-date
        shell: bash
        run: |
          echo "::set-output name=date::$(date -u "+%Y-%m")"
      - name: Restore Go Cache
        uses: actions/cache@v3
        timeout-minutes: 10
        continue-on-error: true
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ steps.get-date.outputs.date }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Get dependencies
        shell: bash
        run: |
          make get-deps
      - name: Build
        shell: bash
        run: |
          make prep-gcp-tce-bucket
          make build-cli-plugins-nopublish
      - name: Auth to GCP Buckets
        id: auth-to-gcp-buckets
        uses: google-github-actions/auth@v0
        with:
          credentials_json: ${{ secrets.GCP_BUCKET_SA }}
      - name: Upload Artifacts to Staging Bucket
        id: upload-artifacts-staging
        uses: google-github-actions/upload-cloud-storage@v1.0.0
        with:
          path: ./artifacts
          destination: tce-cli-plugins-staging
  teardown-runner:
    name: Stop self-hosted EC2 runner
    # Only run this job if we're in the main repo, not a fork.
    if: github.repository == 'vmware-tanzu/community-edition'
    needs:
      - setup-runner # required to get output from the setup-runner job
      - build-release # required to wait when the main job is done
    runs-on: ubuntu-latest
    steps:
      - name: Stop EC2 runner
        id: stop-ec2-runner
        shell: bash
        run: |
          echo "GITHUB_RUN_ID: ${GITHUB_RUN_ID}"
          echo "GITHUB_RUN_NUMBER: ${GITHUB_RUN_NUMBER}"
          echo "GITHUB_RUN_ATTEMPT: ${GITHUB_RUN_ATTEMPT}"
          INSTANCE_NAME="id-${GITHUB_RUN_ID}-${GITHUB_RUN_NUMBER}-${GITHUB_RUN_ATTEMPT}"
          echo "INSTANCE_NAME: ${INSTANCE_NAME}"
