name: Build - Create Dev/Staging

on:
  push:
    branches:
      - main
    paths:
      - "**.go"
      - "cli/cmd/plugin/**/go.mod"
      - "**.sh"
      - ".github/**"
    tags-ignore:
      - "**"

jobs:
  build:
    name: Release Staging
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: "1.16"
        id: go

      - name: Config credentials
        env:
          GITHUB_TOKEN: ${{ secrets.GH_CHECKS_ACCESS_TOKEN }}
        run: |
          git config --global url."https://git:$GITHUB_TOKEN@github.com".insteadOf "https://github.com"

      - name: Check out code
        uses: actions/checkout@v1

      - name: Restore Go Cache
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Get Tanzu Framework
        run: |
          git clone https://github.com/vmware-tanzu/tanzu-framework.git
          pushd tanzu-framework
          git checkout tce-main
          make controller-gen
          make set-unstable-versions
          popd

      - name: Get dependencies
        run: |
          for i in $(find . -type d); do
            if [[ -f "${i}/go.mod" ]]; then
              pushd $i
                go mod edit --replace github.com/vmware-tanzu/tanzu-framework=$GITHUB_WORKSPACE/tanzu-framework
                go get -v -t -d ./...
              popd
            fi
          done

      - name: Build
        run: make build

      - name: Upload Artifacts to Staging Bucket
        id: upload-artifacts-staging
        uses: google-github-actions/upload-cloud-storage@main
        with:
          path: ./artifacts
          destination: tce-cli-plugins-staging
          credentials: ${{ secrets.GCP_BUCKET_SA }}
