name: Check - imagelint

on:
  pull_request:
    types:
      - assigned
      - opened
      - synchronize
      - reopened
    paths:
      - "addons/packages/**/**/bundle/.imgpkg/**.yaml"
      - "addons/packages/**/**/bundle/.imgpkg/**.yml"
      - "hack/check/imagelinter/**"

jobs:
  checkimagelint:
    name: Check imagelint
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version: "1.17"
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Run imagelint
        run: |
          make imagelint
