name: Check - urllint

on:
  pull_request:
    types:
      - assigned
      - opened
      - synchronize
      - reopened
    paths:
      - "**.md"
      - "**.yaml"
      - "**.yml"
      - "hack/check/urllinter/**"

jobs:
  checkurllint:
    name: Check urllint
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version: "1.17"
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Run urllint
        run: |
          make urllint
