name: Check - Standalone Docker Cluster
on:
  pull_request:
    branches:
      - main
    paths:
      - "**.go"
      - "cli/cmd/plugin/**/go.mod"
      - "**.sh"
      - ".github/workflows/check-pr-docker-standalone.yaml"
    types:
      - assigned
      - opened
      - synchronize
      - reopened
jobs:
  start-runner:
    name: Start self-hosted EC2 runner
    runs-on: ubuntu-latest
    outputs:
      ec2-instance-id: ${{ steps.start-ec2-runner.outputs.ec2-instance-id }}
    steps:
      - name: Download Dependencies
        run: |
          curl --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
            https://raw.githubusercontent.com/vmware-tanzu/community-edition/main/hack/ensure-dependencies.sh \
            -o ensure-dependencies.sh
          chmod +x ./ensure-dependencies.sh
          curl --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
            https://raw.githubusercontent.com/vmware-tanzu/community-edition/main/hack/runner/setup.sh \
            -o setup.sh
          chmod +x ./setup.sh
      - name: Start EC2 runner
        id: start-ec2-runner
        env:
          GITHUB_TOKEN: ${{ secrets.GH_CHECKS_ACCESS_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.RUNNER_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.RUNNER_AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: us-west-2
        run: |
          ./ensure-dependencies.sh
          GITHUB_TOKEN=${GITHUB_TOKEN} AMI_ID=ami-0e264e3eabfba9c3d ./setup.sh
          INSTANCE_ID=$(cat ./instanceid.txt)
          echo "INSTANCE_ID: ${INSTANCE_ID}"
          echo ::set-output name=ec2-instance-id::${INSTANCE_ID}
  build-release:
    name: Build Release based on PR
    needs: start-runner # required to start the main job when the runner is ready
    runs-on: ${{ needs.start-runner.outputs.ec2-instance-id }} # run the job on the newly created runner
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: "1.16"
        id: go
      - name: Config credentials
        env:
          GITHUB_TOKEN: ${{ secrets.GH_CHECKS_ACCESS_TOKEN }}
        run: |
          git config --global url."https://git:$GITHUB_TOKEN@github.com".insteadOf "https://github.com"
      - name: Check out code
        uses: actions/checkout@v1
      - name: Restore Go Cache
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Get dependencies
        run: |
          make get-deps
      - name: Build
        env:
          GITHUB_TOKEN: ${{ secrets.GH_CHECKS_ACCESS_TOKEN }}
        run: |
          make ensure-deps
          make release
      - name: Install
        run: |
          cd `find ./build -type d -name "tce-linux-amd64-*" | xargs -n1 echo -n`
          ./install.sh
  create-cluster:
    name: Create Cluster
    outputs:
      create-cluster-time: ${{ steps.check-create-cluster.outputs.create-cluster-time }}
    needs:
      - start-runner # required to start the main job when the runner is ready
      - build-release
    runs-on: ${{ needs.start-runner.outputs.ec2-instance-id }} # run the job on the newly created runner
    steps:
      - name: Create Cluster
        run: CLUSTER_PLAN=dev env time -f "%e" -o create-cluster-time.txt tanzu standalone-cluster create mytest -i docker -v 10
      - name: Check Create Cluster
        id: check-create-cluster
        run: |
          ./hack/runner/check-setup.sh
          CREATE_TIME=$(cat ./create-cluster-time.txt)
          echo "CREATE_TIME: ${CREATE_TIME}"
          echo ::set-output name=create-cluster-time::${CREATE_TIME}
  report-cluster-create-time:
    name: Report Cluster Creation Time
    needs:
      - start-runner # required to start the main job when the runner is ready
      - create-cluster
    runs-on: ${{ needs.start-runner.outputs.ec2-instance-id }} # run the job on the newly created runner
    steps:
      - name: Report cluster create time
        run: |
          GIT_SHA=$(git rev-parse HEAD)
          TCE_VERSION=$(git describe --tags --abbrev=0)
          echo "tce.pr.standalone-cluster.create-time ${{ needs.create-cluster.outputs.create-cluster-time }} source=<tce.github.${{ github.event.number }}> sha=${GIT_SHA} version=${TCE_VERSION}" | curl \
            --header "Authorization: Bearer ${{ secrets.VMW_WAVEFRONT_API_TOKEN }}" \
            --data @- \
            https://vmware.wavefront.com/report
  delete-cluster:
    name: Delete Cluster
    outputs:
      delete-cluster-time: ${{ steps.check-delete-cluster.outputs.delete-cluster-time }}
    needs:
      - start-runner # required to start the main job when the runner is ready
      - create-cluster
    runs-on: ${{ needs.start-runner.outputs.ec2-instance-id }} # run the job on the newly created runner
    steps:
      - name: Delete Cluster
        run: env time -f "%e" -o delete-cluster-time.txt tanzu standalone-cluster delete mytest --yes -v 10
      - name: Check Delete Cluster
        id: check-delete-cluster
        run: |
          ./hack/runner/check-teardown.sh
          DELETE_TIME=$(cat ./delete-cluster-time.txt)
          echo "DELETE_TIME: ${DELETE_TIME}"
          echo ::set-output name=delete-cluster-time::${DELETE_TIME}
  report-cluster-delete-time:
    name: Report Cluster Delete Time
    needs:
      - start-runner # required to start the main job when the runner is ready
      - delete-cluster
    runs-on: ${{ needs.start-runner.outputs.ec2-instance-id }} # run the job on the newly created runner
    steps:
      - name: Report cluster deletion time
        run: |
          GIT_SHA=$(git rev-parse HEAD)
          TCE_VERSION=$(git describe --tags --abbrev=0)
          echo "tce.pr.standalone-cluster.delete-time ${{ needs.delete-cluster.outputs.delete-cluster-time }} source=<tce.github.${{ github.event.number }}> sha=${GIT_SHA} version=${TCE_VERSION}" | curl \
            --header "Authorization: Bearer ${{ secrets.VMW_WAVEFRONT_API_TOKEN }}" \
            --data @- \
            https://vmware.wavefront.com/report
  stop-runner:
    name: Stop self-hosted EC2 runner
    needs:
      - start-runner # required to get output from the start-runner job
      - report-cluster-delete-time # also wait on cluster deletion being reported
      - delete-cluster # required to wait when the main job is done
    runs-on: ubuntu-latest
    if: ${{ always() }} # required to stop the runner even if the error happened in the previous jobs
    steps:
      - name: Download Dependencies
        run: |
          curl --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
            https://raw.githubusercontent.com/vmware-tanzu/community-edition/main/hack/ensure-dependencies.sh \
            -o ensure-dependencies.sh
          chmod +x ./ensure-dependencies.sh
          curl --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
            https://raw.githubusercontent.com/vmware-tanzu/community-edition/main/hack/runner/teardown.sh \
            -o teardown.sh
          chmod +x ./teardown.sh
      - name: Stop EC2 runner
        id: stop-ec2-runner
        env:
          GITHUB_TOKEN: ${{ secrets.GH_CHECKS_ACCESS_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.RUNNER_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.RUNNER_AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: us-west-2
        run: |
          ./ensure-dependencies.sh
          GITHUB_TOKEN=${GITHUB_TOKEN} INSTANCE_ID=${{ needs.start-runner.outputs.ec2-instance-id }} ./teardown.sh
