name: Check mdlint

on:
  pull_request:
    types:
      - assigned
      - opened
      - synchronize
      - reopened
    paths:
      - "**.md"
      - "hack/check-mdlint.sh"

jobs:
  checkmdlint:
    name: Check mdlint
    runs-on: ubuntu-latest
    steps:
      - name: Config credentials
        env:
          GH_ACCESS_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
        run: |
          git config --global url."https://git:$GH_ACCESS_TOKEN@github.com".insteadOf "https://github.com"

      - name: Check out code
        uses: actions/checkout@v1

      - name: Run mdlint
        run: |
          make mdlint
