---
name: Check - yaml

on:
  pull_request:
    types:
      - assigned
      - opened
      - synchronize
      - reopened
    paths:
      - "**.yaml"
      - "**.yml"

jobs:
  checkyaml:
    name: Check - yaml
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Run yamllint
        run: |
          make yamllint
