name: E2E Test - Azure Standalone Cluster

on:
  push:
    branches:
      - main
    paths:
      - "**.go"
      - "cli/cmd/plugin/**/go.mod"
      - "**.sh"
      - ".github/workflows/e2e-azure-standalone-cluster.yaml"
    tags-ignore:
      - "**"

jobs:
  e2e-azure-standalone-test:
    name: E2E Azure Standalone Cluster Test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: "1.16"
        id: go

      - name: Cleaning up Github Actions runner
        run: |
          df -h
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf "/usr/local/share/boost"
          df -h

      - name: Check out code
        uses: actions/checkout@v1

      - name: Run Azure Standalone Cluster E2E Tests
        env:
          GITHUB_TOKEN: ${{ secrets.GH_E2E_ACCESS_TOKEN }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          AZURE_SSH_PUBLIC_KEY_B64: ${{ secrets.AZURE_SSH_PUBLIC_KEY_B64 }}
        run: |
          # Workaround for issue https://github.com/kubernetes-sigs/kind/issues/2240
          sudo sysctl net/netfilter/nf_conntrack_max=131072

          make azure-standalone-cluster-e2e-test
