name: E2E Test - Docker Management Cluster

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  tce-docker-e2e-test:
    name: TCE Docker Managed Cluster E2E Test
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: "1.16"
        id: go

      - name: Cleaning up Github Actions runner
        run: |
          df -h
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf "/usr/local/share/boost"
          df -h

      - name: Check out code
        uses: actions/checkout@v1

      - name: Run TCE Docker Management Cluster E2E Test
        env:
          GITHUB_TOKEN: ${{ secrets.GH_E2E_ACCESS_TOKEN }}
        run: |
          # Workaround for issue https://github.com/kubernetes-sigs/kind/issues/2240
          sudo sysctl net/netfilter/nf_conntrack_max=131072

          make tce-docker-managed-cluster-e2e-test
