name: E2E Test - Diagnostics Plugin

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "cli/cmd/plugin/diagnostics/"
      - "!cli/cmd/plugin/diagnostics/**.md"
      - ".github/workflows/check-pr-diagnostics-plugin.yaml"
      - ".github/workflows/e2e-diagnostics-plugin.yaml"
    tags-ignore:
      - "**"

jobs:
  e2e-test-diagnostics-plugin:
    # Only run this job if we're in the main repo, not a fork.
    if: github.repository == 'vmware-tanzu/community-edition'
    name: E2E Test - Diagnostics Plugin
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: "1.17"
        id: go

      - name: Run E2E Tests - Diagnostics Plugin
        run: |
          cd cli/cmd/plugin/diagnostics/
          make e2e-test
