name: TCE Docker Managed Cluster E2E Test

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  tce-docker-e2e-test:
    name: TCE Docker Managed Cluster E2E Test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: "1.16"
        id: go

      - name: Cleaning up Github Actions runner
        run: |
          df -h
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf "/usr/local/share/boost"
          df -h

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Run TCE Docker Managed Cluster E2E Test
        env:
          GH_ACCESS_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
        run: make tce-docker-managed-cluster-e2e-test
